<h3 id="logo-blue-text" >Sunday Coder Club</h3>
<hr>
<p class="flow-text">If you're an aspiring coder, or already working as a developer, Sunday Coder Club is for you. This fortnightly meetup is a great way to spend a Sunday afternoon. You will meet beginners working through tutorials as well as lively discussions on the latest programming languages.</p>

<p class="flow-text">There is no agenda here. Just a place to do some work on your personal projects without the distractions you get at home, and make some new friends with similar interests to you.</p>

<p class="flow-text">Find out when the next Sunday Coder Club is being held on <a href="http://www.meetup.com/Sunday-Coder-Club/" class="grey-text text-lighten-3" target="_blank">Meetup</a></p>