<div class="row">
	<h3 id="logo-blue-text" >Giving back to the community</h3>
	<hr>
		<p class="flow-text">At Coder Factory, we want to help the community be more involved in creating technology. That's why we are working with the Redfern Community Centre to provide after school workshops for kids.</p>

	<p class="flow-text">If you want to find out how you can give back to your community, join the Coder Factory Club and attend a free volunteer induction workshop.</p>
</div>