<div class="parallax-container">
  <div class="parallax"><img src="<%= asset_path 'vid.jpg' %>"></div>
  <div class="container">
    <h2>Inside the Coder Factory</h2>
    <div class="row">
      <div class="col m6">
        
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
      </div>
      <div class="col m6">
        <div class="valign-wrapper">
          <a href="#modal1" class="waves-effect waves-light btn modal-trigger"><i class="fa fa-play fa-5x circle"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
