Be in demand as an AngularJS Master, build single page web applications and beautiful mobile apps with Ionic.


Google's AngularJS is arguably the most popular javascript framework.

<!-- OVERVIEW -->
<h5>Learn Fast</h5>
<p>In just 12 weeks (six class hours per week), you will become a confident AngularJS developer, with great prospects for front end developer roles. </p>

<h5>Front end development</h5>
<p>AngularJS is the hottest front end, javascript framework and is in high demand in the job market.</p>

<h5>Build your own ideas</h5>
<p>You will have the opportunity to apply your new skills by building your own app idea.</p>

<h5>Classes are fun and practical!</h5>
<p>With a focus on hands-on coding in every class, you will have fun while you learn. We love our amazing students at Coder Factory, they are always smart and inspiring people to know.</p>

<h5>Tried learning online?</h5>
<p>If you've tried learning online but keep hitting road blocks (or boredom), the AngularJS course is the best way to learn. </p>


<!-- AUDIENCE -->


<h5>Are you looking for a new direction in your developer career?</h5>
<p>Perhaps you're a Java or .Net developer and looking to break into the new web app and mobile development space. AngularJS is for you.</p>
<h5 class="">Experienced javascript developers welcome</h5>

<p>If you already have experience as a javascript or jquery developer, the AngularJS Master course is going to take you to the next level.</p>


<!-- PREREQUISITES -->


<h5>Some coding experience?</h5>
<p>If you are a coder but only a little javascript experience, you will need to do some pre-work to be accepted into this course.</p>
<h6>Pre-work</h6>
<p>A good practical knowledge of pure JavaScript is required. Please complete the <a href="https://www.codecademy.com/tracks/javascript" target="_blank">Codecademy JavaScript course</a>.</p>

<p>A free 2 hour workshop will also be offered to students requiring an introduction or refresher before the AngularJS course begins.</p>

<p>Note: This course is not suitable for coding beginners.</p>


<!-- OUTCOMES -->
<h5>DESIGN and BUILD</h5>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> You will have learnt programming fundamentals with the Object Oriented Programming language, Ruby.
</li>
<li><i class="fa-li fa fa-check-square"></i> Using Ruby on Rails will be easy for you. There always challenges, but you will enjoy them.
</li>
<li><i class="fa-li fa fa-check-square"></i> You will have completed multiple web applications together as a class.
</li>
<li><i class="fa-li fa fa-check-square"></i> You will have built a prototype of your own app idea.
</li>
<li><i class="fa-li fa fa-check-square"></i> You can design a database for your application.
</li>
<li><i class="fa-li fa fa-check-square"></i> You can follow the application design process.
</li>
<li><i class="fa-li fa fa-check-square"></i> You will know how to deploy your web application (publish to the web).
</li>
</ul>


<!-- FORMAT -->
<h5>12 weeks, part time</h5>
<p><span class="bold">Workshop classes. Choose from:</span></p>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> Monday & Wednesday evenings: 6pm - 9pm</li>
<li><i class="fa-li fa fa-check-square"></i> Tuesday & Thursday evenings: 6pm - 9pm</li>
<li><i class="fa-li fa fa-check-square"></i> Saturdays: 10am - 4pm</li>
</ul>
<p>
<h5>Catch up sessions</h5>
<p>We know that sometimes life (or work) gets in the way of classes. Don't stress, we offer one-on-one catch-up sessions.</p>

<!-- PAYMENT -->
<h5>Payment plans available</h5>
<p class="bold">$2475.00 (+ GST) upfront.</p>
<p>Or pay only $255 per month via automatic direct debit over 12 months. (5% service charge included).</p>

<!-- HOMEWORK -->
<h5>Extra work requirements</h5>
<p>As you would expect from a program like this, you will need to put in some time outside of class. How much is up to you - but the more you do, the sooner you will see the results.</p>

<h5>12 Modules to Launch</h5>
<table class="responsive-table bordered">
	<thead>
		<th>Week</th>
		<th>Module</th>
		<th>Topics</th>
	</thead>
	<tbody>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Refining the idea and the product</th>
		</tr>
		<tr>
			<td>01</td>
			<td>Refine your ideas</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Emerging Technologies</li>
					<li><i class="fa-li fa fa-check-square"></i> Business Model Canvas</li>
					<li><i class="fa-li fa fa-check-square"></i> Setting your Launch Targets</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>02</td>
			<td>Startup Strategy</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Financing your startup: Bootstrapping vs Investment</li>
					<li><i class="fa-li fa fa-check-square"></i> Incubators & Accelerators</li>
					<li><i class="fa-li fa fa-check-square"></i> Government Grants</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>03</td>
			<td>User Centric Products</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Design Thinking</li>
					<li><i class="fa-li fa fa-check-square"></i> Designing the user Experience</li>
					<li><i class="fa-li fa fa-check-square"></i> Personas & User Journeys</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>04</td>
			<td>Product Development</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Lean + Agile Development</li>
					<li><i class="fa-li fa fa-check-square"></i> Creating Great User Stories</li>
					<li><i class="fa-li fa fa-check-square"></i> Minimum Viable/Valuable Product</li>
				</ul>
			</td>
		</tr>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Preparing for launch</th>
		</tr>
		<tr>
			<td>05</td>
			<td>Deployment</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Production Environment Infrastructure</li>
					<li><i class="fa-li fa fa-check-square"></i> Domain & Email Management</li>
					<li><i class="fa-li fa fa-check-square"></i> SEO & Analytics</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>06</td>
			<td>Business Structure</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Legal & Accounting Setup</li>
					<li><i class="fa-li fa fa-check-square"></i> Finding Advisors</li>
					<li><i class="fa-li fa fa-check-square"></i> Equity & Incorporation</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>07</td>
			<td>Soft Launch</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Beta Testing & Bug Fixes</li>
					<li><i class="fa-li fa fa-check-square"></i> Usability Testing</li>
					<li><i class="fa-li fa fa-check-square"></i> Content Marketing</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>08</td>
			<td>Prepare for Launch</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> PR: Getting the press to notice you.</li>
					<li><i class="fa-li fa fa-check-square"></i> Networking for Fun & Profit</li>
					<li><i class="fa-li fa fa-check-square"></i> Prepare for Data</li>
				</ul>
			</td>
		</tr>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Launch and grow</th>
		</tr>
		<tr>
			<td>09</td>
			<td>Product Launch</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Owning Social Media</li>
					<li><i class="fa-li fa fa-check-square"></i> High Touch Customer Service</li>
					<li><i class="fa-li fa fa-check-square"></i> Build. Measure. Learn</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>10</td>
			<td>First Customers & Working the Plan</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Know Your Customers</li>
					<li><i class="fa-li fa fa-check-square"></i> Product Evangelism</li>
					<li><i class="fa-li fa fa-check-square"></i> Interpreting Your MetricsData</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Growing the Team</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Leadership in a Startup: Culture starts with you</li>
					<li><i class="fa-li fa fa-check-square"></i> Finding Co-founders and first employees</li>
					<li><i class="fa-li fa fa-check-square"></i> Outsourcing with Freelancers</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Growing Your Market & Revenue</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Partnering with Other Businesses</li>
					<li><i class="fa-li fa fa-check-square"></i> Incentivising Customer Referrals through Gamification</li>
					<li><i class="fa-li fa fa-check-square"></i> Avoiding Premature Optimisation: Scale the Lean Way</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<p><span class="indigo-text">Weeks 1-4</span><br>
Refining the idea and the product<br>
<br>
<span class="indigo-text">Weeks 5-8</span><br>
Preparing for launch<br>
<br>
<span class="indigo-text">Weeks 9-12</span><br>
Launch and grow<br>
<br>
<a href="/coding-courses/startup-launcher" class="btn light-blue">See the course outline</a>
</p>