<%= content_for :title, "Get into tech with Coder Factory Workshops" %>
<style>
#customElement {background-image: url(<%= asset_path 'beginner.jpg' %>);}
</style>
<% @video_code = '04oInZW-9H4' %>
<% @header_title = "CODING is FUN" %>
<% @header_tagline = 'Start your journey into code.' %>
<%= render 'layouts/top_bar' %>

<section id="workshop-menu" class="white">
	<div class="hide-on-small-only">
		<div class="container z-depth-3 grey lighten-4">
					<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><a href="sass.html">Coding</a></li>
        <li><a href="badges.html">Web</a></li>
        <li><a href="collapsible.html">Kids</a></li>
      </ul>
    </div>
  </nav>
				
	</div>
</section>
<%= render partial: 'course_detail', collection: @workshops %>
