<%= content_for :title, "Learn to Code @CoderFactory" %>
<div id="customElement">
    <div class="container">
    	<div class="row">
    		<div class="col m6">
        	   <h1>Create The Future</h1>
            </div>
            <div class="col m6">

            </div>
       </div>
    </div>
</div>

<div id="video" class="player" data-property="{videoURL:'kUu-o7mnBDk',containment:'#customElement', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:true, quality:'highres'}"></div>