<%= content_for :title, 'Join the Coder Factory Community' %>
<%= content_for :description, 'Check out the great community events and supportive partners. Join our thriving community of creators, makers and coders.' %>

<section class="light-blue community valign-wrapper" id="top-section">
	<div class="container">
    <h1 class="valign center-align white-text">We<span class="red-text"><i class="fa fa-heart"></i></span> Community</h1>
</div>
</section>

<section class="grey lighten-2">
<div class="container">
<%= render 'layouts/community' %>
</div>
</section>