<%= content_for :title, 'Contact Coder Factory' %>
<%= content_for :description, "Get in touch anyway you can. We're friendly and want to help!" %>
<section id="top-section">
<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h2>Get in touch</h2><h4> We're happy to hear from you.</h4>
      <p class="flow-text"></p>
      <div class="row">
        <div class="col s12 m4">
          <div class="card z-depth-3 hoverable">
            <div class="card-content grey-text text-darken-2">
            <span class="card-title grey-text text-darken-2">Contact Details</span>
            <p>Phone: <a href="tel:1300884095">1300 884 095</a></p>
            <p>Email: <a href="mailto:info@coderfactory.com">info@coderfactory.com</a></p>
            <br>
            <p>CODER FACTORY HQ</p>
            <p>Level 2, 7 Kelly Street,<br>Ultimo, 2007</p>
            <br>
            <p><a href="https://www.google.com.au/maps/place/7+Kelly+St,+Ultimo+NSW+2007/@-33.8816564,151.1928565,17.25z/data=!4m2!3m1!1s0x6b12ae2921a33993:0xaa2630263ddf7ee" target="_blank" title="Map link">Map link</a></p>
            <div style="max-width:100%;">
              <div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2785.3100219026987!2d151.19285653523318!3d-33.88165640193651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae2921a33993%3A0xaa2630263ddf7ee!2s7+Kelly+St%2C+Ultimo+NSW+2007!5e0!3m2!1sen!2sau!4v1461052099198" width=100% height=100% border=0 frameborder="0">
                </iframe>
              </div>
            </div>
            <p>Free untimed street parking available.<br>250m from Redfern Station</p>
          </div>
          </div>
        </div>
        <div class="col s12 m8">
          <div class="card z-depth-3 hoverable">
            <div class="card-content grey-text text-darken-2">
            <span class="card-title">
              <h4 class="orange-text">Enquiry Form</h4><hr>
            </span>
            <%= render 'enquiries/form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
