<h5>Two hour free workshop, Sundays, 2pm - 4pm</h5>

<p>Learn how great Ruby on Rails is and why you should pick this cool language to get started on your coding journey.</p>

<h5>Install Ruby on Rails on your own laptop and create your first web application.</h5>

<p>One of the main barriers to getting started with Rails is setting up your laptop. This workshop will help you through this stage and allow you to start your coding journey with less pain.</p>

<p>You'll also build your first, simple web application so you can start to see how cool Ruby on Rails is - and we want to inspire you to continue to learn to code.</p>

<h5>What will I learn?</h5>

<h6>The developer's toolkit.</h6>

<p>Set up your 'development environment' and learn about open source tools.</p>

<h6>Building your first web app:</h6>

<p>Create! Learn! Build!</p>

<h6>Learning resources and options:</h6>

<p>Find out other great ways to continue your 'learn to code' journey.</p>

<h6>Classroom options:</h6>

<p>Hear about the other classroom learning options: workshops, part time courses and the Fast Track full time program.</p>