<p><span class="bold">In brief</span><br>
3 x single day workshops over 6 weeks<br>

Come up with an idea for an app that helps your business grow<br>

Learn the fundamentals of web programming<br>

Build the app and see how easy and fun it is<br>
<br>
<span class="bold">Outcomes</span><br>
Participants are involved in building an app that will help their business.<br>
A greater understanding of what is possible with technology and better able to advise clients.<br>
A great understanding of the software design and build process.<br>
<br>
<span class="bold">Day 1 - Innovation</span><br>
<span class="indigo-text">Emerging Technology</span><br> Take advantage of new tech before your competitors<br>

<span class="indigo-text">Business Model Canvas</span><br> See your business in a new way<br>

<span class="indigo-text">Lean Startup Methodology</span><br> See how tech startups stay lean and move fast<br>

<span class="indigo-text">Agile Development</span><br> Build applications the agile way<br>
<br>
<span class="bold">Day 2 - Technology</span><br>

<span class="indigo-text">Web Design</span><br> HTML, CSS, Bootstrap
<br>
<span class="indigo-text">User Experience</span><br> Creating compelling user interfaces<br>

<span class="indigo-text">Programming Fundamentals</span><br>

Learn the basics of programming and get insight into how software works<br>

<span class="indigo-text">Application Design Process</span><br>

How to turn your idea into a product.<br>
<br>
<span class="bold">Day 3 - Creation</span><br>

<span class="indigo-text">Briefing</span><br> Prepare to code<br>

<span class="indigo-text">Build</span><br> Build the app together as a class<br>

<span class="indigo-text">Publish to the web</span><br> 

See how it easy it is to make the app live and available to everyone<br>

<span class="indigo-text">Review</span><br> Review the workshop and what has been learnt<br>
<br>
<span class="bold">Details</span><br>

5 - 10 participants<br>

10am - 4pm (3 workshops, two weeks apart)<br>
OR<br>
2 hours per week for 12 weeks<br>

</p>