<%= content_for :title, "Join the Fast Track to an exciting life. Coder Factory's full time programme for aspiring developers." %>
<%= content_for :description, "Coder Factory's Fast Track is an accelerated and revolutionary 24 week programme that places you in a well paid, exciting career in the tech industry." %>
<style>
#customElement {background-image: url(<%= asset_path 'fasttrack.jpg' %>);}
</style>
<% @video_code = 'o88Xibw8TL4' %>
<% @header_title = "Fast Track" %>
<% @header_tagline = 'Your boarding pass to the world of tech.' %>
<%= render 'layouts/top_bar' %>

<section class="white">
<div class="container">
<h2>Looking to start a career as a coder?</h2>
<p class="flow-text">Coder Factory's Fast Track is an accelerated program that teaches you the skills you need for an exciting career in the tech industry.</p>
<p class="flow-text">It's also ideal for those looking to launch their own web app, become a tech co-founder or travel the world as a digital nomad.</p>
</div>
</section>

<section class="light-blue right-align white-text">
<div class="container">
<h2>Never coded before?</h2>
<p class="flow-text">No problem! Fast Track assumes no prior coding knowledge. Our programme combines daily workshops with real life coding challenges, to provide you with the skills and knowledge to take you from a complete beginner to an accomplished full-stack developer.</p>
<p class="flow-text">You'll learn to code in Ruby on Rails, the fastest growing web application framework. You'll also learn HTML5 and CSS3, along with NodeJS and AngularJS, the most popular Javascript technologies.</p>
<p class="flow-text">
You'll be coding using Agile development methodologies from day one in a fun and challenging environment.</p>
</div>
</section>

<section class="white">
<div class="container">
<h2>Premium Quality. Passionate Teachers.</h2>
<p class="flow-text">Learning to code is a journey, and we recognise that everyone learns in different ways. We've invested in the best teachers and incentivised them well. </p>
<p class="flow-text">We've organised everything around ensuring a collaborative learning environment, one where you can learn with your fellow classmates but that also allows personalisation to suit your needs. 
We're based in a newly renovated premise in the creative and technology hub of Redfern, Sydney. </p>
<p class="flow-text">
You'll enjoy coming to class for the learning opportunities, the challenges and the chance to mix with interesting people.</p>
</div>
</section>

<section class="teal right-align white-text">
<div class="container">
<h2>Real Experience.</h2>
<p class="flow-text">Unlike some other schools, we put a huge focus on teaching relevant skills. Classroom learning is combined with projects that help you gain practical experience using the tools and methodologies of a professional developer. </p>
<p class="flow-text">During the program, you'll build a portfolio of applications that help you learn and also enable you to showcase your skills.</p>
<p class="flow-text">
Coder Factory is very active in the local technology and startup communities, which benefits our students greatly. We work alongside our industry contacts to ensure our courses are up to date and relevant. Our network is your network.</p>
</div>
</section>

<section class="white">
<div class="container">
<h2>Full Stack Skills</h2>
<p class="flow-text">You'll graduate as a proficient coder, with skills in UX, database design, application architecture and sysops. </p>
<p class="flow-text">Whether you choose to work as a developer in an exciting new tech startup or an established enterprise, or become a tech co-founder in your own startup, you'll be confident that you have the skills and network to succeed.</p>
</section>

<section class="grey lighten-2">
	<div class="container">
	<h2 class="center-align">The Fast Track Program</h2>
		<div class="card grey-text text-darken-2">
			<div class="card-content">
				<div class="row">
					<div class="col m6 s12">
						<h5>Details</h5>
						<table class="bordered">
							<!-- <tr>
								<th>Qualification</th>
								<td>Diploma of Software Development</td>
							</tr> -->
							<tr>
								<th>Next start date</th>
								<td>January 2016</td>
							</tr>
							<tr>
								<th>Applications open</th>
								<td>Soon! <a href="/enquiries/new?etype=fasttrack">Enquire now</a></td>
							</tr>
							<tr>
								<th>Days</th>
								<td>Monday - Friday, 10am - 6pm</td>
							</tr>
							<tr>
								<th>Course fees</th>
								<td>$19 700<br>FEE-HELP available 
								<!-- <a href="#"><i class="material-icons">help_outline</i></a> -->
								</td>
							</tr>

						</table>
					</div>
					<div class="col m6 s12">
						<h5>Included</h5>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-check-square"></i> Intensive classroom learning + Project work (800 contact hours)</li>
							<li><i class="fa-li fa fa-check-square"></i> Passionate,  industry experienced teachers.</li>
							<li><i class="fa-li fa fa-check-square"></i> High tech learning environment, surrounded by tech startups and dev agencies</li>
							<li><i class="fa-li fa fa-check-square"></i> Industry events and excursions</li>
							<li><i class="fa-li fa fa-check-square"></i> Full recruitment support</li>
							<li><i class="fa-li fa fa-check-square"></i> Interview preparation sessions</li>
						</ul>
						<div class="center-align">
							<hr>
							<p>Applications open soon. Be the first to know.</p><br>
							<a href="/enquiries/new?etype=fasttrack" class="btn light-blue"><i class="material-icons right">send</i> Register your interest</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="white">
<div class="container">
	<h2>What you'll learn</h2>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">AGILE METHODOLOGY</span><br>
					Sprint Based Learning means you're an expert by graduation.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">JAVASCRIPT FRAMEWORKS</span><br>
				Learn the hottest JavaScript frameworks - AngularJS + NodeJS.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">TEAM WORK</span><br>
				Your team competes for code quality glory every day.

				</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-code fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">WEB PROGRAMMING</span><br>
				Ruby on Rails mastery is your ticket to developer fame and fortune.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">PROJECTS</span><br>
					Complete a project every two weeks for a top rate portfolio.
				</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">UX & DESIGN</span><br>
					Front end programming while keeping the user in mind.
				</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">APPLICATION ARCHITECTURE</span><br>
					Understand how all the pieces of an application fit together.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">SYSOPS</span><br>
					Managing cloud based application infrastructure and resources.
				</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">HTML & CSS</span><br>
					The bones wrapped around every type of Web App.
				</p>
				</div>
			</div>
		</div>
	</div>
</div>
</section>




  