
<div class="row">
	<div class="col m12">
		<div class="card">
			<div class="card-content">
			<%= render 'course_types/index' %>

			</div>
			
		</div>
	</div>
</div>

<div class="row">
	<div class="col m12">
		<div class="card">
			<div class="card-content">
				<%= render 'course_locations/index' %>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col m12">
		<div class="card">
			<div class="card-content">
				<%= render 'enquiry_types/index' %>

			</div>
		</div>
	</div>
</div>

