<p>Join a growing number of Australian entrepreneurs setting up shop in Silicon Valley and maximizing your chance of success in launching or growing your new product. We demystify the US visa process, Venture Capital market and launch event circuit to help you sling-shot your idea to the audiences that really matter.<br>
<br>
<span class="bold">What will I learn?</span><br>

<span class="indigo-text">Fund raising</span><br>
	Pitch tool essentials<br>
	Angels, VCs & Crowdfunding options<br>
	Term sheets, Convertible notes, Vesting<br>
	Getting introductions<br>
	Time frames<br>
<br>
<span class="indigo-text">Visas</span><br>
	E3 Visa process<br>
	Setting up your own US company<br>
	Hiring essentials in the US<br>
<br>

<span class="indigo-text">Running your business</span><br>
	Company structures<br>
	US tax basics<br>
	Payroll, HR,Legal services<br>
	Sales platforms<br>
	Co working spaces<br>
	Networking events<br>
<br>
<span class="indigo-text">US life</span><br>
	Bay area accommodation<br>
	Culture shock<br>
	Transport options<br>
	<br>
<span class="indigo-text">Reality check</span><br>
	Time to market<br>
	Successful US team structures<br>
	Competition<br>
	How bad you want it?<br>
	
<br>


<span class="indigo-text">What can I expect?</span><br>
Small classes = personal attention <br>
You'll learn in a small class environment - maximum 12 students per class. <br>
<br>
<span class="indigo-text">Experienced mentors</span><br>
Learn from people who have been there and done that. Get actual current <br>information from entrepreneurs of all shapes and sizes. Whether you are a tiny bedroom startup or a fully operational team find out what works and doesn’t work and get a reality check on the opportunities in the US market-place.
<br><br>
<span class="indigo-text">Catch up sessions </span><br>
If you have to miss a class, you can arrange a catch up session.<br> 
<br>
<span class="indigo-text">A thriving community </span><br>
Join our community and get help and support as you continue to build and grow your own products/services..<br>
<br>
<span class="bold">Course Details</span><br>

4 days classroom learning (30 hours).<br>
Choose 4 consecutive Saturdays or our 4 day intensive weekday block.<br>
<br>
<span class="indigo-text">Weekends</span><br>
Saturdays: 10am - 5pm <br>
<br>
<span class="indigo-text">Weekdays</span><br>
Monday-Thursday: 9am - 4pm <br>
<br>
<span class="indigo-text">Course fee</span><br>
AUD : $1250<br>
</p>