Go from idea to launch in 12 weeks - while you keep your day job. This program gives coders the process to launch and grow your startup.

<!-- Overview -->
<h5 class="">Process Driven</h5>
<p>This programs walks you through refining your idea, to design, to build, to deploy and launch.</p>
<h5 class="">Practical</h5>
<p>Each week will see you producing deliverables that take you closer to the tech startup launch and growth you want for yourself.</p>
<h5 class="">Expert advisors and mentors</h5>
<p>With expert advisors and mentors from accounting, law, public relations, investing, you will grow your support network every week.</p>
<h5 class="">World Class Tools</h5>
<p>The program will provide you with a huge array of tools to help you with all aspects of launching and growing your startup.</p>


<!-- AUDIENCE -->
<h5 class="">Do you need a bit of a push?</h5>
<ul class="fa-ul left-padded">
<li><i class="fa-li fa fa-check-square"></i> Have you started building your prototype/MVP but are struggling to stay motivated to finish and launch it?</li>
<li><i class="fa-li fa fa-check-square"></i> Perhaps you have a few ideas and not sure which one you should run with?
</li>
</ul>


<!-- PREREQUISITES -->
<h5 class="">Coding skills are required for this program.</h5>
<p>Either:</p>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> You have completed the Web App Builder (previously Web App Developer PT) course.
</li>
<li><i class="fa-li fa fa-check-square"></i> You are a confident web developer (self-taught or by trade)
</li>
</ul>


<!-- Outcomes -->
<h5>ACHIEVE AND SUCCEED</h5>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> Your startup will have launched!
</li>
<li><i class="fa-li fa fa-check-square"></i> You will have customers.
</li>
<li><i class="fa-li fa fa-check-square"></i> You will be confident about the direction and growth of your startup.
</li>
<li><i class="fa-li fa fa-check-square"></i> Your network of connections and advisors will have grown.
</li>
<li><i class="fa-li fa fa-check-square"></i> You'll know how to continue to grow your startup with marketing and by analysing metrics.
</li>
<li><i class="fa-li fa fa-check-square"></i> You'll understand the importance of user experience (UX).
</li>
<li><i class="fa-li fa fa-check-square"></i> You'll be working to a plan while staying agile and lean.
</li>
</ul>


<!-- Format -->
<h5>12 weeks, part time</h5>
<p><span class="bold">Workshop classes</span></p>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> Monday & Wednesday evenings: 6pm - 9pm</li>
</ul>
<p><span class="bold">Coding support sessions (optional)</span>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> Sundays: 1pm - 4pm</li>
</ul>

Payment
<h5>Payment plans available</h5>
<p class="bold">$2650.00 (+ GST) upfront.</p>
<p>Or pay only $255 per month via automatic direct debit over 12 months. (5% service charge included).</p>

Homework
<h5>Extra work requirements</h5>
<p>As you would expect from a program like this, you will need to put in some time outside of class. How much is up to you - but the more you do, the sooner you will see the results.</p>

<h5>12 Modules to Launch</h5>
<table class="responsive-table bordered">
	<thead>
		<th>Week</th>
		<th>Module</th>
		<th>Topics</th>
	</thead>
	<tbody>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Refining the idea and the product</th>
		</tr>
		<tr>
			<td>01</td>
			<td>Refine your ideas</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Emerging Technologies</li>
					<li><i class="fa-li fa fa-check-square"></i> Business Model Canvas</li>
					<li><i class="fa-li fa fa-check-square"></i> Setting your Launch Targets</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>02</td>
			<td>Startup Strategy</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Financing your startup: Bootstrapping vs Investment</li>
					<li><i class="fa-li fa fa-check-square"></i> Incubators & Accelerators</li>
					<li><i class="fa-li fa fa-check-square"></i> Government Grants</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>03</td>
			<td>User Centric Products</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Design Thinking</li>
					<li><i class="fa-li fa fa-check-square"></i> Designing the user Experience</li>
					<li><i class="fa-li fa fa-check-square"></i> Personas & User Journeys</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>04</td>
			<td>Product Development</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Lean + Agile Development</li>
					<li><i class="fa-li fa fa-check-square"></i> Creating Great User Stories</li>
					<li><i class="fa-li fa fa-check-square"></i> Minimum Viable/Valuable Product</li>
				</ul>
			</td>
		</tr>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Preparing for launch</th>
		</tr>
		<tr>
			<td>05</td>
			<td>Deployment</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Production Environment Infrastructure</li>
					<li><i class="fa-li fa fa-check-square"></i> Domain & Email Management</li>
					<li><i class="fa-li fa fa-check-square"></i> SEO & Analytics</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>06</td>
			<td>Business Structure</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Legal & Accounting Setup</li>
					<li><i class="fa-li fa fa-check-square"></i> Finding Advisors</li>
					<li><i class="fa-li fa fa-check-square"></i> Equity & Incorporation</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>07</td>
			<td>Soft Launch</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Beta Testing & Bug Fixes</li>
					<li><i class="fa-li fa fa-check-square"></i> Usability Testing</li>
					<li><i class="fa-li fa fa-check-square"></i> Content Marketing</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>08</td>
			<td>Prepare for Launch</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> PR: Getting the press to notice you.</li>
					<li><i class="fa-li fa fa-check-square"></i> Networking for Fun & Profit</li>
					<li><i class="fa-li fa fa-check-square"></i> Prepare for Data</li>
				</ul>
			</td>
		</tr>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Launch and grow</th>
		</tr>
		<tr>
			<td>09</td>
			<td>Product Launch</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Owning Social Media</li>
					<li><i class="fa-li fa fa-check-square"></i> High Touch Customer Service</li>
					<li><i class="fa-li fa fa-check-square"></i> Build. Measure. Learn</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>10</td>
			<td>First Customers & Working the Plan</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Know Your Customers</li>
					<li><i class="fa-li fa fa-check-square"></i> Product Evangelism</li>
					<li><i class="fa-li fa fa-check-square"></i> Interpreting Your MetricsData</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Growing the Team</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Leadership in a Startup: Culture starts with you</li>
					<li><i class="fa-li fa fa-check-square"></i> Finding Co-founders and first employees</li>
					<li><i class="fa-li fa fa-check-square"></i> Outsourcing with Freelancers</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Growing Your Market & Revenue</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Partnering with Other Businesses</li>
					<li><i class="fa-li fa fa-check-square"></i> Incentivising Customer Referrals through Gamification</li>
					<li><i class="fa-li fa fa-check-square"></i> Avoiding Premature Optimisation: Scale the Lean Way</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<p><span class="indigo-text">Weeks 1-4</span><br>
Refining the idea and the product<br>
<br>
<span class="indigo-text">Weeks 5-8</span><br>
Preparing for launch<br>
<br>
<span class="indigo-text">Weeks 9-12</span><br>
Launch and grow<br>
<br>
<a href="/coding-courses/startup-launcher" class="btn light-blue">See the course outline</a>
</p>