<p>So you have built a basic prototype and tested it out with a few customers and friends - great, now what? Roll up your sleeves and get ready to jump in the deep end, this course shows you how to develop your product and launch it successfully to maximize your chances of success.<br>
<br>
<span class="bold">What will I learn?</span><br>
<br>
<span class="indigo-text">Weeks 1-4</span><br>
	System security<br>
	Hosting options<br>
	Iterations & feature creep<br>
	Validation<br>
<br>
<span class="indigo-text">Weeks 5-8</span><br>
	Customer reach<br>
	Social media platforms<br>
	Customer communication<br>
	Communication tools<br>
	E-commerce<br>
	Outsourcing and Insourcing options<br>
	Off shore options<br>
<br>
<span class="indigo-text">Weeks 9-12</span><br>
	Press<br>
	Key hires<br>
	Scaling<br>
	Company structures<br>
	Legal/Accounting options<br>
	Break even/fund raising<br>
<br>


<span class="bold">What can I expect?</span><br>
<span class="indigo-text">Small classes = personal attention </span><br>
You'll learn in a small class environment - maximum 12 students per class. <br>
<br>
<span class="indigo-text">Practical, hands on classes </span><br>
Whether your coding, pitching, cold calling or problem solving-don’t expect to sit on the sidelines. This is a highly interactive course with no bench warmers!
<br>
<span class="indigo-text">Catch up sessions </span><br>
If you have to miss a class, you can arrange a catch up session. <br>
<br>
<span class="indigo-text">A thriving community </span><br>
Join our community and get help and support as you continue to build and grow your own applications.<br>
<br>
<span class="bold">Course Details</span><br>
<br>
<span class="indigo-text">12 weeks classroom learning (72 hours).</span><br>
Choose Saturday or evening classes. <br>
<br>
<span class="indigo-text">Weekends</span><br>
Saturdays: 10am - 4pm <br>
<br>
<span class="indigo-text">Weekdays</span><br>
Tues + Thurs evenings: 6pm - 9pm <br>
<br>
<span class="indigo-text">Payment plans: AUD $2,475</span><br>
3 x monthly payments or 6 x fortnightly payments. Choose the payment plan option below, pay the deposit, you will be invoiced for further payments after the class starts. <br>
<span class="indigo-text">Upfront payment: 10% discount.</span><br>
</p>