<p><span style="font-weight: bold">LEARN CODING FAST</span><br>
<span class="indigo-text">Learn Fast </span><br>
If you've tried learning online but keep hitting road blocks (or boredom), the Web App Developer PT course is a great way to learn fast, the fun way.
<br>
<br><span class="indigo-text">Are you entrepreneurial? </span><br>
With a focus on entrepreneurs, our classes are filled with passionate people from different career backgrounds, who have great ideas and enjoy learning together.
<br>
<br><span class="indigo-text">Is this for you? </span><br>
Whether you are looking to build your own tech startup, enhance your career prospects or just learn more about web apps, this programme will get you there.
</p>
<p><span style="font-weight: bold">WHAT WILL I LEARN?</span><br>
<br><span class="indigo-text">Weeks 1 - 4</span><br>

-- Web design - HTML, CSS, Bootstrap<br>
-- Programing fundamentals with Ruby<br>
-- Importance of databases<br>
-- Application design<br>
-- Ruby on Rails<br>
<br><span class="indigo-text">Weeks 5 - 8</span><br>

-- Build a web application, together as a class<br>
-- Continue growing your Ruby on Rails skills<br>
<br><span class="indigo-text">Weeks 9 - 12</span><br>

-- Build your own app idea<br>
-- Using what you have learned to work on your own app idea<br>
-- Master classes to help you keep learning while building<br>
</p>
<p><span style="font-weight: bold">WHAT CAN I EXPECT?</span><br>
<br><span class="indigo-text">Small classes = personal attention </span><br>
You'll learn in a small class environment - maximum 12 students per class.
<br>
<br><span class="indigo-text">Practical, hands on classes </span><br>
Every class involves coding. Learning materials are project based so you learn the theory and new skills as you build apps.
<br>
<br><span class="indigo-text">Catch up sessions </span><br>
If you have to miss a class, you can arrange a catch up session.
<br>
<br><span class="indigo-text">A thriving community </span><br>
Join Sunday Coder Club to meet other coders and get help and support as you continue to build your own applications.
</p>
<p><span style="font-weight: bold">COURSE DETAILS</span><br>
<span class="indigo-text">12 weeks classroom learning (72 hours).</span><br>Choose  Saturday or evening classes.
<br>
<br><span class="indigo-text">Weekends</span><br>
Saturdays: 10am - 4pm
<br>
<br><span class="indigo-text">Weekdays</span><br>
Tues + Thurs OR Mon + Wed evenings: 6pm - 9pm
<br>
<br><span class="indigo-text">Payment plans: AUD $2,475</span><br>
3 x monthly payments or 6 x fortnightly payments.
Choose the payment plan option below, pay the deposit, you will be invoiced for further payments after the class starts.
<br><span class="indigo-text">Upfront payment: 10% discount.</span><br>