<!-- WEB APP BUILDER -->

<!-- TAGLINE -->
Learn web app development in 12 weeks, while keeping your day job. 

<!-- OVERVIEW -->
<h5>Learn Fast</h5>
<p>In just 12 weeks (six class hours per week), you will become a confident web application developer, able to build anything you want. </p>

<h5>Full stack development</h5>
<p>Ruby on Rails gives you full stack skills - front end, backend, databases, application design and deployment.</p>

<h5>Build your own idea</h5>
<p>You will have the opportunity to apply your new skills by building your own app idea in the final 4 weeks of the course.</p>

<h5>Classes are fun and practical!</h5>
<p>With a focus on hands-on coding in every class, you will have fun while you learn. We love our amazing students at Coder Factory, they are always smart and inspiring people to know.</p>

<h5>Tried learning online?</h5>
<p>If you've tried learning online but keep hitting road blocks (or boredom), the Web App Developer PT course is the best way to learn coding. Meet other aspiring startup entrepreners who have taken action and realised that learning to code is going to change their future.</p>


<!-- AUDIENCE -->


<h5>Are you entrepreneurial?</h5>
<p>Our classes are filled with aspiring tech startup entrepreneurs who want to know how to build their own prototypes. The course is not really designed to help you start a career as a coder - but some of our students do now work as developers.</p>

<h5>No IT degree?</h5>
<p>You don't need an IT or computer science degree! Anyone can do this.</p>
<p>Even if you have no experience with web design or coding before, if you have drive and motivation, you will do well.</p>


<!-- PREREQUISITES -->
<h5 class="">Beginners welcome!</h5>
<p>Suggested pre-work:</p>
<p>Although you don't need any prior skills or experience to do well in this course, we recommend you are at least familiar with HTML and CSS (no need to be an expert though!). 

<p>Either attend a <a href="https://coderfactory.com/coder-factory-workshops-for-beginners">Web Design Beginner</a> weekend workshop, or find a free introduction course online (like Codecademy).</p>


<!-- OUTCOMES -->
<h5>DESIGN and BUILD</h5>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> You will have learnt programming fundamentals with the Object Oriented Programming language, Ruby.
</li>
<li><i class="fa-li fa fa-check-square"></i> Using Ruby on Rails will be easy for you. There always challenges, but you will enjoy them.
</li>
<li><i class="fa-li fa fa-check-square"></i> You will have completed multiple web applications together as a class.
</li>
<li><i class="fa-li fa fa-check-square"></i> You will have built a prototype of your own app idea.
</li>
<li><i class="fa-li fa fa-check-square"></i> You can design a database for your application.
</li>
<li><i class="fa-li fa fa-check-square"></i> You can follow the application design process.
</li>
<li><i class="fa-li fa fa-check-square"></i> You will know how to deploy your web application (publish to the web).
</li>
</ul>


<!-- FORMAT -->
<h5>12 weeks, part time</h5>
<p><span class="bold">Workshop classes. Choose from:</span></p>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> Monday & Wednesday evenings: 6pm - 9pm</li>
<li><i class="fa-li fa fa-check-square"></i> Tuesday & Thursday evenings: 6pm - 9pm</li>
<li><i class="fa-li fa fa-check-square"></i> Saturdays: 10am - 4pm</li>
</ul>
<p>
<h5>Catch up sessions</h5>
<p>We know that sometimes life (or work) gets in the way of classes. Don't stress, we offer one-on-one catch-up sessions.</p>

<!-- PAYMENT -->
<h5>Payment plans available</h5>
<p class="bold">$2475.00 (+ GST) upfront.</p>
<p>Or pay only $255 per month via automatic direct debit over 12 months. (5% service charge included).</p>

<!-- HOMEWORK -->
<h5>Extra work requirements</h5>
<p>As you would expect from a program like this, you will need to put in some time outside of class. How much is up to you - but the more you do, the sooner you will see the results.</p>

<!-- MODULES -->
<h5>12 Modules to Launch</h5>
<table class="responsive-table bordered">
	<thead>
		<th>Week</th>
		<th>Module</th>
		<th>Topics</th>
	</thead>
	<tbody>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Practical fundamentals & theory</th>
		</tr>
		<tr>
			<td>01</td>
			<td>Programming fundamentals with Ruby</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Fundamentals of programming</li>
					<li><i class="fa-li fa fa-check-square"></i> Developer tools</li>
					<li><i class="fa-li fa fa-check-square"></i> Object Oriented Programming with Ruby</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>02</td>
			<td>Web & Databases</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Workings of the Web</li>
					<li><i class="fa-li fa fa-check-square"></i> Database Design</li>
					<li><i class="fa-li fa fa-check-square"></i> Using themes in your Rails application</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>03</td>
			<td>Ruby on Rails Introduction</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Rails the Hard Way</li>
					<li><i class="fa-li fa fa-check-square"></i> Introduction to the Model View Controller (MVC) software design pattern.</li>
					<li><i class="fa-li fa fa-check-square"></i> </li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>04</td>
			<td>Ruby on Rails Explored</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Models in depth</li>
					<li><i class="fa-li fa fa-check-square"></i> Controllers & Routes in depth</li>
					<li><i class="fa-li fa fa-check-square"></i> Views in depth</li>
				</ul>
			</td>
		</tr>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Building the class application</th>
		</tr>
		<tr>
			<td>05</td>
			<td>Authentication and Ruby Gems</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Using open source Ruby Gems</li>
					<li><i class="fa-li fa fa-check-square"></i> Apply authentication to your application</li>
					<li><i class="fa-li fa fa-check-square"></i> Apply database relationships to your application</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>06</td>
			<td>Advanced Developer Tools</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Source control with Git & Github</li>
					<li><i class="fa-li fa fa-check-square"></i> Uploading files to your application (profile pictures)</li>
					<li><i class="fa-li fa fa-check-square"></i> Authorisation - allowing different types of users.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>07</td>
			<td>Ruby Gems</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Development gems</li>
					<li><i class="fa-li fa fa-check-square"></i> Google maps - geolocation and maps API</li>
					<li><i class="fa-li fa fa-check-square"></i> Emailing from your app</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>08</td>
			<td>Deployment</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Deploying to the web.</li>
					<li><i class="fa-li fa fa-check-square"></i> Search Engine optimisation and site analytics</li>
					<li><i class="fa-li fa fa-check-square"></i> Debugging</li>
				</ul>
			</td>
		</tr>
		<tr colspan="3" class="light-blue lighten-4">
			<th colspan="3">Build your own app!</th>
		</tr>
		<tr>
			<td>09</td>
			<td>Application design process</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Define the problem</li>
					<li><i class="fa-li fa fa-check-square"></i> User journeys and user stories</li>
					<li><i class="fa-li fa fa-check-square"></i> Database design</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Advanced Rails I</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Payment systems</li>
					<li><i class="fa-li fa fa-check-square"></i> Social relationships</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Advanced Rails II</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> In-app messaging</li>
					<li><i class="fa-li fa fa-check-square"></i> Infrastructure considerations</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Final class - present your app to the class</td>
			<td>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> Pitching your application</li>
					<li><i class="fa-li fa fa-check-square"></i> Celebrate!</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
