<section class="light-blue lighten-4" id="top-section">
<div class="container">
	<h2>2. Finalise your booking.</h2>

	<% if @course_booking.course_intake.price > 0.0 and @course_booking.course_intake.price < 1000.0 %>
		<%= render 'workshop_payment' %>
	<% else %>
		<%= render 'course_payment' %>
	<% end %>
</div>
</section>