<li>
  <div class="collapsible-header active">
  	<span class="<%= course.color %>-text">
  		<i class="fa fa-<%= course.icon %>"></i>
  	</span> 
  	<%= course.name %>
  </div>
  <div class="collapsible-body"><p><%= course.description %></p></div>
</li>