<p><span style="font-weight: bold">The technology revolution</span><br>

We are surrounded by technology and use it every day. And guess what? It's just beginning.<br>

The tech revolution is just getting warmed up. There are so many ways that technology has yet to improve our lives. Whether it's a life saving gadget or a phone app that makes us laugh.<br><br>

<span style="font-weight: bold">The future is coming fast</span><br>

You can either stand by and watch it happen, or be a part of it and have the power to create a great life for yourself and those around you.<br>

Learning to code is not rocket science. Anyone can do it. And it's FUN! Let your creativity flow and build cool technology that makes a difference in the world. Be a part of the future. Learn to code.<br></p>

<p><span style="font-weight: bold">WHAT CAN I EXPECT?</span><br>
As a class, we will set up your development environment as this is key to creating, testing and deploying new apps. We will teach you the skills to create new apps, and ways to speed up deployment using scaffolding.<br>

This course will give you an understanding of Ruby gems that enable greater functionality for your app, and give you the skills needed to implement popular gems into your apps.<br>

The course is a fun and interactive way of learning the fundamentals behind coding in Ruby on Rails<br>

<p><span style="font-weight: bold">WHAT WILL I LEARN?</span><br>

<span class="indigo-text">Web design:</span><br>

HTML, CSS and Bootstrap<br>

<span class="indigo-text">The developer's toolkit:</span><br>

Set up your 'development environment' and learn about open source tools.<br>

<span class="indigo-text">Programming fundamentals:</span><br>

Learn the 5 fundamentals of computer programming.<br>

<span class="indigo-text">Application and database design:</span><br>

Understanding these processes helps you build great apps.<br>

<span class="indigo-text">Ruby on Rails:</span><br>

Build a web application that you'll be proud to show your friends and family.</p>

<p><span style="font-weight: bold">THE DETAILS</span><br>
<span class="indigo-text">Days:</span> Saturday & Sunday<br>

<span class="indigo-text">Times:</span> 10am - 4pm.<br>

<span class="indigo-text">What to bring:</span>

Your own laptop, 
lunch money, 
and your excitement for technology.</p>