


Want to be inspired? Come and help kids learn coding and finish your day on a high! You don't need to be 'a technical person' to do this. 

<!-- Overview -->
<h5>Give back and share your excitement for technology</h5>
<p>This is your opportunity to make a difference in your community - and the world. The sooner our kids are coding and creating solutions with technology - the better off the planet will be.</p>

<h5>Get equipped</h5>
<p>This short workshop gives you the tools and knowledge you need to volunteer at a Coder Factory kids coding workshop. </p>

<h5>Meet other volunteers</h5>
<p>You don't need to do this alone. Work with other volunteers to help kids in your area get ahead in life.</p>


<!-- AUDIENCE -->
<h5 class="">Technical background NOT required!</h5>
<p>You don't need to be a developer or 'a technical person' to do this. If you have a passion for technology and want to help kids - this is for you.</p>

<h5>Doing good</h5>
<p>Not only will you be inspired by the kids you teach, you will feel good about yourself for helping others.</p>


<!-- PREREQUISITES -->
<h5 class="">Working with Children Check</h5>
<p>The only requirement is you will need a working with children check. This is free in NSW for volunteers.</p>
<p>Organise your check now so you can get started sooner. <a href="http://www.kidsguardian.nsw.gov.au/working-with-children/working-with-children-check/working-with-children-check-results" target="_blank">Working with Children Check for NSW</a></p>


<!-- Outcomes -->
<h5>You'll be ready to volunteer</h5>
<ul class="fa-ul">
<li><i class="fa-li fa fa-check-square"></i> Join the volunteer team
</li>
<li><i class="fa-li fa fa-check-square"></i> Have the knowledge and tools you need to help kids learn coding
</li>
<li><i class="fa-li fa fa-check-square"></i> Be guided to join a current coding workshop or assistance to start your own.
</li>
</ul>


<!-- Format -->
<h5>1.5 hour workshop</h5>
<p>Runs every second Sunday - come along to the next one. </p>


Payment
<h5>FREE</h5>

Homework
<h5>No homework :)</h5>


<h5>Modules</h5>
<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i> What is this all about?</li>
					<li><i class="fa-li fa fa-check-square"></i> How do I get involved?</li>
					<li><i class="fa-li fa fa-check-square"></i> What do we teach the kids?</li>
					<li><i class="fa-li fa fa-check-square"></i> What is it like in the workshops?</li>
					<li><i class="fa-li fa fa-check-square"></i> All the tools and resources you need</li>
				</ul>
