<p><span style="font-weight: bold">THE WEB DESIGN WORKSHOP</span><br>
Every business either has a website - or needs a website. Knowing the basics of designing for the web helps you understand what is possible and can save you money.<br><br>

Perhaps you want to create a stylish web presence for yourself to showcase your achievements or a portfolio of your work.<br><br>

Sure, there are a lot of web applications out there that will help you do this but if you want to individualise it with your own style, you need to know HTML and CSS.<br><br>

HTML and CSS are the building blocks of the web and a great entry point into learning more about creating technology.</p>

<p><span style="font-weight: bold">WHAT CAN I EXPECT?</span><br>
As a class, we will take a website all the way from mock-ups and prototyping, to deploying and hosting it on the web. You will also have the opportunity to build your own website from scratch with the help and guidance of our teachers.<br><br>

We will teach you the latest tips and tricks and show you where to find a stack of great free tools to help you build your website quickly and efficiently.</p>

<p><span style="font-weight: bold">WHAT WILL I LEARN?</span><br>
<span class="indigo-text">The web design process</span><br>

- The inner workings of the web<br>
- How to design and plan a website<br>
- Using wireframes for prototyping<br>
- How to set up the hosting for your website<br>
<br>
<span class="indigo-text">Technologies and tools</span><br>

- HTML5 and CSS3<br>
- Tools to style your site professionally<br>
- Optimising your site for search engines<br>
- Using Google Analytics to see where your visitors come from</p>

<p><span style="font-weight: bold">THE DETAILS</span><br>
<span class="indigo-text">Days:</span> Saturday & Sunday<br>

<span class="indigo-text">Times:</span> 10am - 4pm.
<br>
<span class="indigo-text">What to bring:</span>

Your own laptop, 
lunch money,
your creativity.</p>