<p><span style="font-weight: bold">THE WORDPRESS WORKSHOP</span><br>
Whether you want to test your business idea or become a thought leader in your field, a Wordpress site can easily be set up to achieve these goals.
With the great themes and plugins available, you can even run your business with Wordpress.<br><br>
And although Wordpress is relatively simple compared to learning to build your own site, there are still some tricky parts to get it right.<br><br>
That's where this workshop can help.</p>

<p><span style="font-weight: bold">WHAT CAN I LEARN??</span><br>
<span class="indigo-text">The basics</span><br>
- What is Wordpress good for?<br>
- Getting to know the Wordpress dashboard<br>
- Installing themes and customising your site<br>
- Finding great plugins to give you extra functionality<br>
<br>
<span class="indigo-text">Tools and tricks</span><br>
- Search engine optimisation<br>
- Setting up your hosting and domain name  <br>  
- Using Google Analytics to analyse your site traffic <br>    
- Using Google Webmaster tools for advanced diagnostics <br>

<p><span style="font-weight: bold">WHAT CAN I EXPECT?</span>


<br>The course is designed to give you the knowledge to create your own website, and where to find useful tools and plugins to stand out on the web.<br> 
<br>We will teach you the skills to use Wordpress for anything from a simple blog, all the way up to a fully featured website.<br>
<br>You will be learning in a small environment with a teacher who is passionate about Wordpress, and most importantly you will have fun!<br>
<br><span style="font-weight: bold">THE DETAILS?</span><br>


<span class="indigo-text">Days:</span> Saturday and Sunday<br>
<span class="indigo-text">Times:</span> 10am - 4pm.<br>
<span class="indigo-text">What to bring:</span>

Your own laptop, 
Lunch money, 
Your entrepreneurial spirit.</p>