<div class="row">
	<%= render 'confirm_card' %>
  <div class="col m4 s12">
    <div class="card">
      <div class="card-content grey-text text-darken-2 center-align">
        <span class="card-title grey-text text-darken-2">
          Step 2.<br>Payment choices<br><hr>
        </span>
      </div>
    </div>
  </div>
  <div class="col m4 s12">
    <div class="card">
      <div class="card-content grey-text text-darken-2 center-align">
        <span class="card-title grey-text text-darken-2">
        	Step 3.<br>Make payment<br><hr>
    		</span>
    	</div>
    </div>
  </div>
</div>