<%= simple_form_for(@course_booking) do |f| %>
  <%= f.error_notification %>
    <%= f.input :course_intake_id, as: :hidden, input_html: { value: params[:intake_id]} %>
    <div class="row">
      <div class="input-field col m8 offset-m2">
          <%= f.input :promo_code, label: 'Do you have a promo code?', placeholder: 'Promo code' %>
      </div>
    </div>
    <button type="submit" class='waves-effect waves-light btn-large light-blue'>
      Confirm
    </button>
<% end %>
