<section id="top-section">
	<div class="container">
		<div class="row">
			<div class="col m12">
				<h3>Coder Factory Blog</h3>
			</div>
		</div>
  	<div class="row">
    	<div class="col s12 m9">
    		<%= render @posts %>
        <div class="card"><div class="card-content">
          <center>
            <%= will_paginate @posts, renderer: MaterializePagination::Rails %>
          </center>
        </div></div>
    	</div>
    	<div class="col s12 m3">
        <%= render 'layouts/fast_track_card' %>
    		<%= render 'layouts/single_upcoming_intake' %>
    	</div>
    </div>
  </div>
</section>
