<section class="light-blue" id="top-section">
	<div class="container">
		<div class="row">
			<div class="col m12">
				<h1>Coder Factory Blog</h1>
			</div>
		</div>
  	<div class="row">
    	<div class="col s12 m9">
    		<%= render @posts %>
        <div class="card"><div class="card-content">
          <%= will_paginate @posts, renderer: MaterializePagination::Rails %>
        </div></div>
    	</div>
    	<div class="col s12 m3">
    		<p></p>
    	</div>
    </div>
  </div>
</section>
