<section id="top-section">
<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <p class="flow-text"></p>
      <div class="row">
        <div class="col m12">
          <div class="card z-depth-3 hoverable">
            <div class="card-content grey-text text-darken-2">
	            <span class="card-title">
	            	<% if params[:etype] %>
	            		<h4 class="orange-text"><%= params[:etype].humanize %>
	            	<% end %>
	            	Enquiry </h4>
	            </span>
							<%= render 'form' %>
							<br>
						  <div class="left-align">
						    <%= link_to 'Cancel', contact_path, class:"btn waves-effect waves-light blue"  %>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
