<ul id="slide-out" class="side-nav fixed">
<li class="logo"><a href="/admin"><span class="blue-text"><i class="medium material-icons left">dashboard</i></span> Dashboard</a></li>
<li><a class="" href="/course_bookings"><span class="blue-text"><i class="medium material-icons left">assignment</i></span> Bookings</a></li>
<%# <li><a class="" href="/enquiries"><span class="blue-text"><i class="medium material-icons left">help</i></span> Enquiries</a></li> %>
<!-- <li><%# link_to survey_forms_path do %><span class="blue-text"><i class="medium material-icons left">description</i></span> Surveys<%# end %></li> -->
<%# <li><a class="" href="/feedback_forms"><span class="blue-text"><i class="medium material-icons left">favorite</i></span> Feedback</a></li> %>
<hr>
<li><a class="" href="/courses"><span class="blue-text"><i class="medium material-icons left">view_list</i></span> Courses</a></li>
<li><a class="" href="/promo_codes"><span class="blue-text"><i class="medium material-icons left">redeem</i></span> P Codes</a></li>
<%# <li><a class="" href="/users"><span class="blue-text"><i class="medium material-icons left">account_box</i></span> Users</a></li> %>
<%# <li><a class="" href="/settings"><span class="blue-text"><i class="medium material-icons left">settings</i></span> Settings</a></li> %>
<hr>
<li><a class="" href="/"><span class="blue-text"><i class="medium material-icons left">home</i></span> HOME</a></li>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
