<div class="top-bar hide-on-small-only light-blue">
  <div class="container">
		<p>
			<i class="fa fa-user-plus"></i> <a href="/coder-factory-club" style="text-decoration: underline;">Join the Coder Factory Club - get 10% off your first course.</a>
			<span class="right"><i class="fa fa-map-marker"></i> SYDNEY, AUSTRALIA</span>
		</p>
  </div>
</div>