<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <%= image_tag 'CoderFactoryLogoForWeb.png', class: 'responsive-img' %>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about">About us</a></li>
          <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="/community">Community</a></li>
          <li><a class="grey-text text-lighten-3" href="/privacy">Privacy</a></li>

        </ul>
      </div>
      <div class="col m4 s12">
        <h5 class="white-text">Courses</h5>
        <ul>
          <li><a href="/learn-to-code" class="grey-text text-lighten-3">Beginner Workshops</a></li>
        <li><a href="/coding-courses" class="grey-text text-lighten-3">Part Time Courses</a></li>
        <li><a href="/coding-workshops" class="grey-text text-lighten-3">Business / Schools</a></li>
        <li><a href="http://coderfactoryacademy.com" class="grey-text text-lighten-3">Fast Track</a></li>
        </ul>
      </div>
      <div class="col m4">

      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © <%= Date.today.year %> Coder Factory
    <a class="grey-text text-lighten-4 right" href="/contact">Contact us</a>
    <%if user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'right' %>
      <% if current_user.has_role? :admin %>
        <%= link_to 'Admin', admin_path, class: 'right' %>
      <% end %>
    <% end %>

    </div>
  </div>
</footer>