<div class="row">
  <div class="col m6">
    <div class="card transparent-card"><div class="card-content white-text">
    <h4 class="center-align capitals"><span class="light-blue-text"><i class="fa fa-child"></i></span> Learn to Code</h4>
    <p>Learn fast and have fun at Coder Factory. Anyone can do it! Choose from workshops, part time or full time courses.</p>
    <br>
    <center><a href="/coder-factory-workshops-for-beginners" class="waves-effect waves-light-blue btn transparent-button">See the courses</a></center>
    </div></div>
  </div> 
  <div class="col m6">
    <div class="card transparent-card"><div class="card-content white-text">
    
    <h4 class="center-align capitals"><span class="light-blue-text"><i class="fa fa-building"></i></span> Business Workshops</h4>
    <p>If you're looking to supercharge your business, embrace technology and learn how to use it to grow.</p><br>
    <center><a href="/coding-workshops-for-businesses" class="waves-effect waves-light-blue btn transparent-button">Find out more</a></center>
    </div></div>
  </div> 
<!--   <div class="col m6">
    <div class="card transparent-card"><div class="card-content white-text">
    
    <h4 class="center-align capitals"><i class="fa fa-graduation-cap"></i><br> Business / School</h4>
    <p class="flow-text">Learn how coding and technology can help you get promoted sooner.</p>
    <a href="http://coderfactoryx.com" class="waves-effect waves-light-blue btn transparent-button">Check it out</a>
    </div></div>
  </div> 
  <div class="col m6">
    <div class="card transparent-card"><div class="card-content white-text">
    <h4 class="center-align capitals"><i class="fa fa-train"></i><br> Fast Track</h4>
    <p class="flow-text">Sydney, Brisbane, Melbourne. Or grow your business faster.</p>
    <a href="/courses/workshops/learn-to-code-for-highschoolers" class="waves-effect waves-light-blue btn transparent-button">Are you ready?</a>
    </div></div>
  </div> -->
</div>