<div class="row" id="header-boxes">
  <div class="col m12">
    <div class="card semi-transparent-header-card header-box center">
      <div class="card-content white-text">
        <h4 class="center-align capitals orange-text">
        Fast Track - Australia's First Accredited Coding Boot Camp</h4>
        <p class="flow-text">Apply for Coder Factory Academy's 6 month coding bootcamp and ride the Fast Track to an exciting life in tech. Intensive training. One month work placement. Live the digital nomad dream!</p>
        <br>
        <a class="btn btn-large info-session-button white-text waves-effect waves-light" href="https://coderfactoryacademy.com" target="_blank">
          <i class="fa fa-train left"></i> 
          Go to Coder Factory Academy
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="col m6">
    <div class="card transparent-card header-box">
      <div class="card-content white-text">

    <h4 class="center-align capitals"><span class="light-blue-text"><i class="fa fa-building"></i></span> Business Workshops</h4>
    <p>If you're looking to supercharge your business, embrace technology and learn how to use it to grow.</p><br>
    <center><a href="/coding-workshops" class="waves-effect waves-light-blue btn transparent-button">Find out more</a></center>
    </div>
    </div>
  </div> -->
<!--   <div class="col m6">
    <div class="card transparent-card"><div class="card-content white-text">

    <h4 class="center-align capitals"><i class="fa fa-graduation-cap"></i><br> Business / School</h4>
    <p class="flow-text">Learn how coding and technology can help you get promoted sooner.</p>
    <a href="http://coderfactoryx.com" class="waves-effect waves-light-blue btn transparent-button">Check it out</a>
    </div></div>
  </div>
  <div class="col m6">
    <div class="card transparent-card"><div class="card-content white-text">
    <h4 class="center-align capitals"><i class="fa fa-train"></i><br> Fast Track</h4>
    <p class="flow-text">Sydney, Brisbane, Melbourne. Or grow your business faster.</p>
    <a href="/courses/workshops/learn-to-code-for-highschoolers" class="waves-effect waves-light-blue btn transparent-button">Are you ready?</a>
    </div></div>
  </div> -->
</div>