<div class="row">
  <div class="col m3">
    <div class="card transparent-card"><div class="card-content white-text">
    <h4 class="center-align capitals"><i class="fa fa-chrome"></i> <br>Workshops</h4>
    <p class="lead">Register for the Coding Kickstarter workshop. Next available workshop: 27th</p>
    <a href="/free-workshop-get-coding-with-ruby-on-rails" class="waves-effect waves-light-blue btn white light-blue-text">Register Now</a>
    </div></div>
  </div> 
  <div class="col m3">
    <div class="card transparent-card"><div class="card-content white-text">
    
    <h4 class="center-align capitals"><i class="fa fa-terminal"></i><br> Part time</h4>
    <p class="lead">Do you want your kids to have a head start in their career and studies?<br></p>
    <a href="/courses/workshops/learn-to-code-for-highschoolers" class="waves-effect waves-light-blue btn white light-blue-text">Find out more</a>
    </div></div>
  </div> 
  <div class="col m3">
    <div class="card transparent-card"><div class="card-content white-text">
    
    <h4 class="center-align capitals"><i class="fa fa-graduation-cap"></i><br> Business / School</h4>
    <p class="lead">Learn how coding and technology can help you get promoted sooner.</p>
    <a href="http://coderfactoryx.com" class="waves-effect waves-light-blue btn white light-blue-text">Check it out</a>
    </div></div>
  </div> 
  <div class="col m3">
    <div class="card transparent-card"><div class="card-content white-text">
    <h4 class="center-align capitals"><i class="fa fa-train"></i><br> Fast Track</h4>
    <p class="lead">Sydney, Brisbane, Melbourne. Or grow your business faster.</p>
    <a href="/courses/workshops/learn-to-code-for-highschoolers" class="waves-effect waves-light-blue btn white light-blue-text">Are you ready?</a>
    </div></div>
  </div>
</div>