<!-- Modal Structure -->
  <div id="share-modal" class="modal">
    <div class="modal-content">
      <h4>Tell your friends about this.</h4>
      <p>
        <a class="waves-effect waves-light btn indigo lighten-3"><i class="fa fa-twitter right"></i>Tweet</a> 
        <a class="waves-effect waves-light btn blue darken-2"><i class="fa fa-facebook right"></i>Share</a> 
        <a class="waves-effect waves-light btn red"><i class="fa fa-envelope right"></i>Email</a></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </div>