<div class="top-bar hide-on-small-only light-blue">
  <div class="container">
		<p>
			<a href="tel:1300884095" class="no-underline"><i class="fa fa-mobile"></i> 1300 884 095</a>
			<span class="right"><i class="fa fa-map-marker"></i> SYDNEY, AUSTRALIA</span>
		</p>
  </div>
</div>