<div id="customElement">
  <div class="container">
  	<div class="row">
  		<div class="col m12 hide-on-small-only center">
        
          <svg width="1150" height="120" style="font-family: 'minerva-modern';">
            <text fill="black" fill-opacity="0.2" font-weight="800" font-size="6em" x="500" y="100" text-anchor="middle" stroke="#fff" stroke-width="2px"><%= @header_title %></text>
          </svg>
          <% if @header_tagline %>
            <h3 class="light-blue tagline"><%= @header_tagline %></h3>
          <% end %>
        
        <% if current_page?(root_path) %>
          <%= render 'layouts/header_boxes' %>
        <% else %>
          <div class="down-arrow center-align">
            <br><br><i class="material-icons medium white-text">keyboard_arrow_down</i>
          </div>
        <% end %>
      </div>
      <div class="hide-on-med-and-up">
      <br>
      <h1 class="center-align">Create the Future<br><i class="material-icons medium">keyboard_arrow_down</i></h1>
      </div>
      
    </div>
  </div>
</div>

<div id="video" class="player" data-property="{videoURL: '<%= @video_code %>',containment:'#customElement', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:true, quality:'highres'}"></div>

