<div id="customElement">
  <div class="container">
  	<div class="row">
  		<div class="col m12 hide-on-small-only">
        <center>
          <svg width="1100" height="200" style="font-family: 'minerva-modern';">
            <text fill="black" fill-opacity="0.2" font-weight="800" font-size="6em" x="520" y="100" text-anchor="middle" stroke="#fff" stroke-width="2px">CREATE the FUTURE</text>
          </svg>
        </center>
        <%= render 'layouts/header_boxes' %>
      </div>
      <div class="hide-on-med-and-up">
      <br>
      <h1 class="center-align">Create the Future<br><i class="material-icons medium">keyboard_arrow_down</i></h1>
      </div>
    </div>
  </div>
</div>

<div id="video" class="player" data-property="{videoURL: '<%= @video_code %>',containment:'#customElement', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:true, quality:'highres'}"></div>

